  @font-face {
    font-family: 'Pridi';
    src: url('./fonts/Pridi-Regular.ttf');
  }

  @font-face {
    font-family: 'Pridi-Bold';
    src: url('./fonts/Pridi-Bold.ttf');
    font-weight: bold;
  }

  @font-face {
    font-family: 'Pridi-Light';
    src: url('./fonts/Pridi-Light.ttf');
    font-weight: 100;
  }

  @font-face {
    font-family: 'Pridi-Extra-Light';
    src: url('./fonts/Pridi-ExtraLight.ttf');
    font-weight: lighter;
  }

  @font-face {
    font-family: 'Pridi-Medium';
    src: url('./fonts/Pridi-Medium.ttf');
    font-weight: 300;
  }