html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* 
//xs
@media screen and (max-width: 596px) {
    
}

//sm
@media screen and (min-width: 600px) and (max-width: 899px) {
    
}

//md
@media screen and (min-width: 900px) and (max-width: 1159px) {
    
}

//lg
@media screen and (min-width: 1200px) and (max-width: 1535px) {
    
}

//xxl
@media screen and (min-width: 1920px) {
    
} 
*/
